.parent {
    .menu {
        display: block;

        .menu-bar {
            padding-left: 1.05em;
            padding-right: 1.05em;
        
            .anchor {
                color: #eee;
                font-weight: bold;
                text-decoration: none;
                font-size: large;

                .home-icon {
                    margin-top: 0.3em;
                    font-size: 1.7rem;
                }
            }

            .divider {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            .empty-tab {
                display: none !important;
                position: absolute;
                z-index: -999;
            }

            .settings-icon {
                font-size: 2rem;
                margin-left: auto;
                order: 2;
                cursor: pointer;
            }
        }
    }

    .component {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}
